/* 
This is a CSS comment
Shortcut for adding the comment is command/ctrl + /
*/

body {

    font-family: Arial, Helvetica, sans-serif;
    color:darkslategray;
}

h1 {
    color:cadetblue;
}

p {
    background-color: antiquewhite;
}

/* Selecting multiple elements */
h1, h2, h3, h4 {
    text-decoration: underline;
}
/* selecting child elements */
/* remove the bullets from the nav but keep bullets on merch and ingredients */

nav ul {
    list-style: none;
}

/* Selecting child elements multiple levels */
nav ul a {
    color: darkslategray;
    text-decoration: none;
}
/* Selecting element with ID value */
/* As a best practice, avoid using ID for styles */
#treatoftheweek {
    background-color: cadetblue;
}

/* Selecting HTML elements with class name */
.blue-link {
    background-color: darkslategray;
    color: antiquewhite;
    text-decoration: none;
}

.large-text {
    font-size: 24px;
}

.white-text {
    color: antiquewhite;

}

/* Combinators */
/* Direct child selector - will only select direct child of the parent */
article>p {
    font-size: 24px;
}

/* Adjacent sibling selector - selects the element that is the very next sibling to the selected element, if any exist */
h3+ul {
    border: 1px solid black;
}

/* Sibling selector */
h3~p {
    text-transform: uppercase;
}

/* Attribute selector */
[href="#treatoftheweek"]{
    font-weight: bold;
}

[src$=".jpg"]{
    border: 4px solid darkslategray;
}

/* psuedo classes */
/* Stylying the navigation */
nav ul a,
nav ul a:link,
nav ul a:visited {
    background-color: antiquewhite;
    /* horizontal, vertical, blur, spread, color */
    box-shadow: -2px 2px 4px 2px black;
}

/* add class of current HTML home link after adding hover and focus */
nav ul .current,
nav ul a:hover,
nav ul a:focus {
    text-decoration: underline;
}

nav ul a:active {
    box-shadow: 0 0 4px 2px black;
}

/* first child and last child */
aside ul li:first-child {
    font-weight: bold; 
}

section ol li:last-child{
    font-weight: bold;
}

/* styling a table */
table {
    border-collapse: collapse;
}

/* nth-child selectors - even/odd */
tbody tr:nth-child(even){
    background-color: #d5836c;
}

/* Using the nth-child with n */
/* where n is 0,1,2,3 until the number of elements end */

table th:nth-child(n),
table td:nth-child(n){
    border:1px solid black;
}

/* Using formula in nth-child selectors */
/* 1,3,5,7 */
table td:nth-child(2n+1){
    background-color: rgba(0, 0, 0, 0.2);
}

/* CSS Specifity */
/* formula: inline style, ID, class, tag name */
/*               0          0         0          0 */

footer {
    background-color: aqua;
}
/* 0002 */
body footer {
    background-color: red;
}

/* 0011 */
footer.site-footer {
    background-color: antiquewhite;
}

/* 0100 */
#treatoftheweek {
    font-size: 24px;
}
